{{!-- <BasePage> --}}

  <div class="row">
    <div class="col-md-12">
      <h2>{{t "scoringinfo.olc+"}}</h2>
      <p>{{t "scoringinfo.olc-history"}}</p>
      <h4>{{t "distance"}}</h4>
      <p>{{t "scoringinfo.distance"}}</p>
      <h4>{{t "triangle"}}</h4>
      <p>{{t "scoringinfo.triangle"}}</p>
      <h4>{{t "index"}}</h4>
      <p>{{t "scoringinfo.index"}}</p>
      <h4>{{t "score"}}</h4>
      <p>{{t "scoringinfo.score"}}</p>
    </div>
  </div>
